<?xml version="1.0"?>
<model>
  <name>landing_bundle</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>CarlosCraveiro</name>
    <email>carlos-craveiro@dragon.t.u-tokyo.ac.jp</email>
  </author>
  <description>
    A4 paper bundle with AprilTags for inclined landing research.
  </description>
</model>
